:root {
    --muave: #BF8E97;
    --blue: #024059;
    --white: #F2EBDC;
    --light-orange: #F2D0A7;
    --dark-orange: #F2AA6B;
}

.nav-wrapper {
    background-color: var(--blue);
    color: var(--white);
}

#search-card {
    background-color: var(--light-orange);
    opacity: 50%;
}

/* autocomplete drop down  */
.ui-autocomplete {
    border: solid 1px var(--muave);
    padding: 5px;
    border-radius: 5px;
    background: lightgray;
    max-width: 20%;
    
    
}

.ui-autocomplete.source:hover {
    background: rgb(218, 214, 214);
}

.card-title {
    color: var(--blue);
}

.card {
    background-color: var(--light-orange);
    opacity: 50%;
}

#card-title {
    color: var(--blue);
}

/* hidden loggin for form? */
.ui-helper-hidden-accessible {
    display: none;
}

#search-btn {
    background-color: var(--muave);
}

.materialize-textarea {
    background-color: #BF8E97;
}

#wish-list-btn {
    background-color: var(--muave);
}