:root {
    --muave: #BF8E97;
    --blue: #024059;
    --white: #F2EBDC;
    --light-orange: #F2D0A7;
    --dark-orange: #F2AA6B;
}

.nav-wrapper {
    background-color: var(--blue);
    color: var(--white);
}

#search-card {
    background-color: var(--light-orange);
}

/* autocomplete drop down  */
.ui-autocomplete {
    border: solid 1px var(--muave);
    padding: 5px;
    border-radius: 5px;
    background: lightgray;
    max-width: 20%;
    
    
}

.ui-autocomplete.source:hover {
    background: rgb(218, 214, 214);
}

.card-title {
    color: var(--blue);
}

.card {
    background-color: var(--light-orange);

}

#card-title {
    color: var(--blue);
}

/* hidden loggin for form? */
.ui-helper-hidden-accessible {
    display: none;
}

#search-btn {
    background-color: var(--muave);
}

.materialize-textarea {
    background-color: #BF8E97;
}

#wish-list-btn {
    background-color: var(--muave);
}

#map {
    height: 400px;
}


.tileId {
    height: 150px;
    width: calc(50% - 1rem);
    background-size: cover;
    background-position: center;   
    margin-bottom: 1rem;
    
}

.flex-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 3%;
    justify-content: space-around;
}

#books {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.bookCard {
    background-color: var(--blue);
    margin: .5rem;
    width: calc(33.3333333333% - 1rem) !important;
    padding: 1rem !important;
    color: var(--white);
}

@media (max-width: 600px) {
    .bookCard {
        width: calc(100% - 1rem) !important;
    }
}

.bookCard h4 {
    font-size: 24px;
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
    height: 95px;
}

.bookCard img {
    height: 170px;
    width: auto;
}

body {
    background-color: var(--white);
}